<footer class="bg-white py-4 px-10 text-sm text-gray-700 text-center">
This website is dedicated to the late Heather O'Rourke. <span class="text-purple-700">1975 - 1988</span> For any assistance, please contact <a title="Email" class="text-purple-600 hover:opacity-75" href="mailto:lewis.larsen@heatherorourke.fans">the website administrator</a> through his email adddress. The administrator does not know the O'Rourke family.
    <img alt="Picture of Heather O'Rourke" src="{{ asset('files/footer.jpg') }}" title="Heather O'Rourke" class="ml-2 rounded-full h-auto w-6 inline animate__animated animate__fadeInLeft" />
</footer>